@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@900&display=swap');

* {
    font-family: "Poppins", sans-serif;
}

h1 {
    text-align: center;
}

.video {
    display: flex;
    justify-content: center;
}